@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2658fd;
  --primary-hover: #134aff;
  --primary-disabled: hsl(226, 100%, 63%, 70%);
  --forground-disabled: hsl(0, 0%, 100%, 55%);
  --background: #00030e;
  --grayish: #a7a7a7;
  --input-background: rgba(38, 88, 253, 0.03);
}

@layer base {
  body {
    @apply bg-white text-black dark:bg-background dark:text-white;
  }
}
