@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2658fd;
  --primary-hover: #134aff;
  --primary-disabled: hsl(226, 100%, 63%, 70%);
  --forground-disabled: hsl(0, 0%, 100%, 55%);
  --background: #00030e;
}

[data-theme="dark"] {
  background-color: var(--background);
  color: white;
}
